<!DOCTYPE html>
<html lang="en">
<head>
  <title>Happy Flights</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  
  
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
        <i class="glyphicon glyphicon-plane"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/flights">Stressors</a></li>
        <li><a href="/compare">Comparison</a></li>
        <li class="active"><a href="/about">About</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Search
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li></li>
          </ul>
        
      </ul>
    </div>
  </div>
</nav>


  
<div class="container text-center">    
  <h1 class="font-bold">About Us</h1><br>
</div>
<div class="container">
  <div class="row">
    <div>
        <h3 class="font-bold">Our Story</h3>
          
            <p>Most of us have been stuck in an airport a time or two and wanted a way that we could 
              better select our origin and/or layover airports based on how stressful they prove to be.  
              We did this using open api data from the Bureau of Transportation showing historical TSA wait times 
              as well as airline delays.  Using our Stress-O-Meter can aid in better decision making 
              power when it comes to airport selection.</p> 
              <p><a href="https://www.transtats.bts.gov/databases.asp?Mode_ID=1&Mode_Desc=Aviation&Subject_ID2=0">Airline Delay Data</a></p><!-- add about text -->
              <p><a href="https://www.dhs.gov/mytsa-api-documentation">TSA Wait Time Data</a></p>  
        <h3 class="font-bold">Our Process</h3>
          <ul>
            <li class="font-bold">SQLite Database</li>
            <li class="font-bold">HTML/CSS/Bootstrap</li>
            <li class="font-bold">JavaScript</li>
              <ul>
                <li>D3/Plotly</li>
                
                <li>Leaflet</li>
                <li>GMaps</li>
                
              </ul>
            <li>Python FLASK</li>
          </ul>
           <!-- add about text -->
        <h3 class="font-bold">Our Team</h3>
          <li>Thomas Oldfield: <a href="https://github.com/thomasjoldfield">https://github.com/thomasjoldfield</a></li>
          <li>Kellie Shontz: <a href="https://github.com/kelbar13">https://github.com/kelbar13</a></li>
          <li>Heather Rodney: <a href="https://github.com/heatherr89">https://github.com/heatherr89</a></li>
          <li>Brian Rotolo: <a href="https://github.com/BrianRotolo">https://github.com/BrianRotolo</a></li>
          
          
            
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>GitHub: <a href="https://github.com/thomasjoldfield/Project2-Job-Dashboard">https://github.com/thomasjoldfield/Project2-Job-Dashboard</a></p>

</footer>

</body>
</html>

